table {
	text-align: center;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	border: 1px solid transparent;
	height: 30px;
	transition: all 0.3s;
}

th {
	background: #7FFFD4;
	font-weight: bold;
}

td {
	text-align: center;
}

tr:nth-child(even) {
	background: #00CED1;
}

tr:nth-child(odd) {
	background: #008080;
}

tr td:hover {
	background: #666;
	color: #FFF;
}
